body {
    /* display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;

    background-color: rgb(32, 34, 34); */
    margin: 0;
    padding: 0;
}

input {
    margin: 0.4rem;
}

.page-layout-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: 8vh auto 12vh;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    background-color: darkcyan;
    width: 60vw;
}

.top-nav {
    /* grid-column: 1 / span 3;
    grid-row: 1; */
    grid-area: header;
    background-color: rgb(6, 107, 102);
}

.home-content-wrapper {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: auto 25vh;
    grid-template-areas: 
    ". join create ."
    ". test test .";
    align-content: center;
}

.join-grid-wrapper {
    grid-area: join;
    /* background-color: antiquewhite; */
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
}

.join-content-wrapper {
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border-right-width: 2px;
	border-right-color: rgb(100, 100, 100);
	border-right-style: solid; */
    border-radius: 1rem;
}
.join-content-wrapper h3 {
    text-align: center;
}

.join-btn {
    width: 100%;
    height: 100%;
}

.button-wrapper {
    width: 80%;
    height: 4vh;
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.num-wrapper {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.time-wrapper {
    /* margin-top: 0.4rem; */
    margin-bottom: 0.4rem;
}

.error-dialog {
    text-align: center;
    margin-top: 0.4rem;
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-grid-wrapper {
    grid-area: create;
    /* background-color: aliceblue; */
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: end;
}

.create-content-wrapper {
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border-left-width: 2px;
	border-left-color: rgb(100, 100, 100);
	border-left-style: solid; */
    border-radius: 1rem;
}
.create-content-wrapper h3 {
    text-align: center;
}

.preset-wrapper {
    width: 80%;
}

.create-btn {
    width: 100%;
    height: 100%;
}

.fun-grid-wrapper {
    grid-area: test;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    outline-width: 10px;
    outline-color: gold;
    outline-style: solid;
    margin-top: 10px;
}
.fun-grid-wrapper h3 {
    text-align: center;
}

.fun-fieldset {
    margin-left: 40px;
    margin-right: 40px;
}

.fun-inputs {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.username-input {
    justify-self: center;
}

.outer-card-wrapper {
    grid-area: main;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "lside mid rside";
    grid-template-columns: 1fr 3fr 1fr;
}

.players-box {
    grid-area: lside;
    background: cadetblue;
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px black;
}
.players-box h2 {
    text-align: center;
}

.results-btn-wrapper {
    grid-area: rside;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-btn {
    border-radius: 12rem;
    background-color: rebeccapurple;
    margin-left: 20px;
    margin-right: 10px;
    height: 15vh;
    width: 15vh;
    text-align: center;
    align-content: center;
}
.results-btn:hover {
    background-color: purple;
}

.card-wrapper {
    /* grid-area: main; */
    /* background-color: navy; */
    grid-area: mid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: auto;
    padding: 50px 100px 50px 100px;
    margin: 0;
    overflow-y: scroll;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    outline-width: 10px;
    outline-color: gold;
    outline-style: solid;
    box-shadow: 2px 2px 4px black;
    max-height: 60vh;
}

.card {
    background-color: aliceblue;
    color: black;
    aspect-ratio: 2 / 3;
    height: 20vh;
    justify-self: center;
    border-radius: 0.5rem;
    text-align: center;
}
.card:hover {
    background-color: rgb(122, 140, 161);
}

.awaiting-selected {
    outline-width: 10px;
    outline-color: darkturquoise;
    outline-style: solid;
    background-color: rgb(122, 140, 161);
}
.selected {
    outline-width: 10px;
    outline-color: gold;
    outline-style: solid;
    background-color: rgb(122, 140, 161);
}

.card-value-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card-value-wrapper h2 {
    margin: 0;
    padding: 0;
}
.card-value-wrapper h3 {
    margin: 0;
    padding: 0;
}

.footer {
    grid-area: footer;
    background-color: darkslategrey;
}

.test-nav {
    background-color: rgb(19, 24, 24);
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    height: 8vh;
    box-shadow: 0px 0px 6px aquamarine;
}

.test-footer {
    background-color: rgb(19, 24, 24);
    color: white;
    width: 100%;
    height: 12vh;
}
.test-footer h1 {
    margin: 0;
}

.body-div {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 34, 34);
}

.admin-wrapper {
    position: absolute;
    top: 14vh;
    width: 60vw;
    text-align: center;
}

.results-page-wrapper {
    grid-area: mid;
}

.everyone-else-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.round-timer-wrapper {
    position: absolute;
    top: 75vh;
    width: 60vw;
}

.round-timer {
    width: 100%;
}