body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

input {
    margin: 0.4rem;
}

.page-layout-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
    grid-template-rows: 8vh auto 12vh;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    background-color: aquamarine;
    width: 60vw;
}

.top-nav {
    /* grid-column: 1 / span 3;
    grid-row: 1; */
    grid-area: header;
    background-color: rgb(6, 107, 102);
}

.home-content-wrapper {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10px; */
    grid-template-rows: auto;
    grid-template-areas: 
    ". join create .";
}

.join-grid-wrapper {
    grid-area: join;
    background-color: antiquewhite;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.join-content-wrapper {
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
}
.join-content-wrapper h3 {
    text-align: center;
}

.join-btn {
    width: 80%;
    height: 100%;
}

.button-wrapper {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}

/* .input-wrapper {
    width: 100%;
} */
.error-dialog {
    text-align: center;
    margin-top: 0.4rem;
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-grid-wrapper {
    grid-area: create;
    background-color: aliceblue;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.create-content-wrapper {
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
}
.create-content-wrapper h3 {
    text-align: center;
}

.create-btn {
    width: 80%;
    height: 100%;
}

.card-wrapper {
    grid-area: main;
    background-color: navy;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: auto;
    padding: 100px;
    margin: 0;
    overflow-y: scroll;
}

.card {
    background-color: aliceblue;
    aspect-ratio: 2 / 3;
    height: 30vh;
    justify-self: center;
}
.card:hover {
    background-color: rgb(122, 140, 161);
}

.selected {
    outline-width: 10px;
    outline-color: yellow;
    outline-style: solid;
}

.card-value-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card-value-wrapper h2 {
    margin: 0;
    padding: 0;
}
.card-value-wrapper h3 {
    margin: 0;
    padding: 0;
}

.footer {
    grid-area: footer;
    background-color: rgb(117, 134, 129);
}