
<div class="outer-card-wrapper" id="card-wrapper">
    <div class="players-box" id="playerBox" fx-action="/playerBox" fx-trigger="poll" fx-method="get" ext-fx-poll-interval="3000" fx-swap="innerHTML" fx-target="#playerBox">
        <h2>Players</h2>
        <ul>
            {{range .Players}}
            <li>{{.Username}} <span></span></li>
            {{end}}
        </ul>
    </div>
    <div class="card-wrapper {{.Skin}}" id="testme">
        {{range .Deck}}
            <form id="cardOption">
                <input type="hidden" name="value" value="{{.Value}}">
                <div class="card" onclick="choose(this)" value="{{.Value}}" fx-action="/choose" fx-method="post" fx-swap="innerHTML" fx-target="cardOption">
                    <div class="card-value-wrapper">
                        <h2>{{.Value}}</h2>
                        <h3>Story Point</h3>
                    </div>
                </div>
            </form>
        {{end}}
        <div class="card custom-card" onclick="choose(this)" value="-1">
            <div class="card-value-wrapper">
                <h2>?</h2>
                <h3>Custom Story Point</h3>
            </div>
        </div>
    </div>
    <style>
        .card-wrapper {
            background-color: {{.Skin}};
            color: {{.TextColor}};
        } 
    </style>
    <style>
        .rainbow {
            background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
        }
    </style>
</div>
<div class="round-timer-wrapper">
    <label for="timer">Round Timer: </label>
    <progress class="round-timer" id="timer" name="timer" class="progressTimer" max="{{.TimeLimit}}" value="{{.TimeLimit}}"></progress>
</div>
