<div id="gameBoard">
    {{$t_id := .TableID}}
    {{$pc := .Passcode}}
    {{$un := .Username}}
    {{range .Cards}}
    <form>
        <input type="hidden" name="tableID" value="{{$t_id}}">
        <input type="hidden" name="passcode" value="{{$pc}}">
        <input type="hidden" name="username" value="{{$un}}">
        <input type="hidden" name="cardValue" value="{{.Value}}">
        <button fx-action="/vote" fx-method="post" fx-trigger="click" fx-swap="className">{{.Value}}</button>
    </form>
    {{end}}
</div>
<form id="gameUpdatePoll" fx-action="/game-update" fx-swap="innerHTML" fx-trigger="poll" fx-target="#test" ext-fx-poll-interval="300">
    <input type="hidden" name="tableID" value="{{$t_id}}">
    <input type="hidden" name="passcode" value="{{$pc}}">
    <input type="hidden" name="username" value="{{$un}}">
</form>
<div id="test">
    <data id="gameOver" value="{{.IsDone}}"></data>
</div>

<form id="getResults" style="display: none;" fx-action="/roundResults" fx-swap="outerHTML" fx-trigger="click" fx-target="#gameBoard">
    <input type="hidden" name="tableID" value="{{$t_id}}">
    <input type="hidden" name="passcode" value="{{$pc}}">
    <input type="hidden" name="username" value="{{$un}}">
    <button id="resultsBtn" type="submit"></button>
</form>