<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Point Poker 3 - Table</title>
    <script src="/static/scripts/fixi-0.6.5.js"></script>
    <script src="/static/scripts/ext-fixi.js"></script>
</head>
<body>
    <h2>Poker Table!</h2>
    <div id="waiting" class="waiting-wrapper">
        <form id="playerCountPoll" fx-action="/waiting-update" fx-swap="innerHTML" fx-trigger="poll" fx-target="#waitingState" ext-fx-poll-interval="300">
            <input type="hidden" name="tableID" value="{{.TableID}}">
            <input type="hidden" name="passcode" value="{{.Passcode}}">
            <input type="hidden" name="username" value="{{.Username}}">
        </form>
        <div id="waitingState">
            <span id="playerCount">{{.PlayerCount}}</span> / <span>{{.MaxPlayers}}</span>
            <data id="isReady" name="tableReady" value="{{.Ready}}"></data>
        </div>
        <h3>Waiting for players...</h3>
        <form>
            <input type="hidden" name="tableID" value="{{.TableID}}">
            <input type="hidden" name="passcode" value="{{.Passcode}}">
            <input type="hidden" name="username" value="{{.Username}}">
            <button id="startGameBtn" onclick="TestMe()" style={{.Style}} fx-action="/start-game" fx-method="post" fx-trigger="click" fx-swap="outerHTML" fx-target="#waiting"> Start Round </button>
        </form>
    </div>
</body>
<script src="/static/scripts/waiting.js"></script>
</html>
