<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Point Poker 2 - table</title>

    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="/static/scripts/fixi-0.6.5.js"></script>
</head>
<body>
    <div class="home-page-wrapper">
        <nav class="top-nav">
            <h2>Poker Table!</h2>
        </nav>
        <div class="home-content-wrapper" id="homeContentWrapper">
            <h1>Poker Table Page!</h1>
            <h2>{{.Table_ID}}</h2>
            <div>
                {{len .Players}}
            </div>
            <div fx-action="/checkForNewVotes?tableID={{.Table_ID}}&passcode={{.Passcode}}" fx-method="get" fx-trigger="poll" fx-target="#voteCount" ext-fx-poll-interval="10000" fx-swap="innerHTML">
                <h3 id="voteCount">0</h3>
            </div>
            <div>
                <h4>Players Voted</h4>
            </div>
        </div>
        <div>
            <h2>Cards!</h2>
            <div>
                {{range .Cards}}
                <form>
                    <input type="hidden" name="pcard" value="{{.Value}}">
                    <button onclick="UpdateSelectedCard(this)" value="{{.Value}}" fx-action="/selectCard" fx-method="post" fx-trigger="click" fx-swap="outerHTML" ext-fx-disable>{{.Value}}</button>
                </form>
                
                {{end}}
            </div>
        </div>
        <form action="/results" method="get" target="_self" style="display: none;">
            <input type="hidden" name="activeRound" value="0">
            <input type="hidden" name="tableID" value="{{.Table_ID}}">
            <input type="hidden" name="passcode" value="{{.Passcode}}">
            <input type="hidden" name="isAdmin" value="{{.IsAdmin}}">
            <input type="hidden" name="username" value="{{.Username}}">
            <button type="submit" id="continueBtn">Continue</button>
        </form>
        <footer class="bottom-footer">
            <p>This is the main poker table page. It will have cards to choose from, a list of players at the table, and a timer</p>
        </footer>
    </div>
</body>
<script src="/static/scripts/poker-table.js"></script>
</html>