<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Point Poker 2 - waiting</title>

    <script src="/static/scripts/fixi-0.6.5.js"></script>
</head>
<body>
    <div class="home-page-wrapper">
        <nav class="top-nav">
            <h2>Poker Table! - {{.Table_ID}}</h2>
        </nav>
        <div class="home-content-wrapper" id="homeContentWrapper">
            <div>
                <h1>Waiting for players...</h1>
            </div>
            <div fx-action="/playerCount?tableID={{.Table_ID}}&passcode={{.Passcode}}" fx-trigger="poll" ext-fx-poll-interval="1000" fx-swap="innerHTML" fx-target="#playerCount">
                <h3><span id="playerCount">{{.PlayerCount}}<data id="isReady" value="{{.IsReady}}" style="display: none;"></data></span> / <span id="maxPlayers">{{.MaxPlayers}}</span></h3>
            </div>
            <data id="timeLimit" value="{{.TimeLimit}}" style="display: none;"></data>
            
            {{if .IsAdmin}}
                <form action="/startGame" method="get" target="_self">
                    <input type="hidden" name="activeRound" value="0">
                    <input type="hidden" name="tableID" value="{{.Table_ID}}">
                    <input type="hidden" name="passcode" value="{{.Passcode}}">
                    <input type="hidden" name="isAdmin" value="{{.IsAdmin}}">
                    <input type="hidden" name="username" value="{{.Username}}">
                    <button type="submit" id="continueBtn">Continue</button>
                </form>
            {{else}}
                <form action="/startGame" method="get" target="_self" style="display: none;">
                    <input type="hidden" name="tableID" value="{{.Table_ID}}">
                    <input type="hidden" name="passcode" value="{{.Passcode}}">
                    <input type="hidden" name="isAdmin" value="{{.IsAdmin}}">
                    <input type="hidden" name="username" value="{{.Username}}">
                    <button type="submit" id="continueBtn">Continue</button>
                </form>
            {{end}}
            
        </div>
        <footer class="bottom-footer">
            <p>This is the waiting for players page. It will display a waiting warning, then transition to the poker table</p>
        </footer>
    </div>
</body>
<script src="/static/scripts/waiting-for-players.js"></script>
</html>