<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Point Poker 2 - waiting</title>

    <script src="/static/scripts/fixi-0.6.5.js"></script>
</head>
<body>
    <div class="home-page-wrapper">
        <nav class="top-nav">
            <h2>Poker Table! - {{.Table_ID}}</h2>
            <h3>Live News</h3>
            <div fx-action="/checkForNewPlayers?tableID={{.Table_ID}}&passcode={{.Passcode}}" fx-trigger="poll" ext-fx-poll-interval="10000" fx-swap="innerHTML">
                <div>
                    <ul id="playersList">
                        {{range .Players}}
                        <li>{{.Username}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="home-content-wrapper" id="homeContentWrapper">
            <div>
                <h1>Waiting for players...</h1>
            </div>
            <div>
                <h3><span id="playerCount">{{len .Players}}</span> / <span id="playerMax">{{.Settings.Player_Max}}</span></h3>
                <h4>players</h4>
            </div>
            <form action="/startGame" method="get" target="_self">
                <input type="hidden" name="activeRound" value="0">
                <input type="hidden" name="tableID" value="{{.Table_ID}}">
                <input type="hidden" name="passcode" value="{{.Passcode}}">
                <button type="submit" id="continueBtn">Continue</button>
            </form>
        </div>
        <footer class="bottom-footer">
            <p>This is the waiting for players page. It will display a waiting warning, then transition to the poker table</p>
        </footer>
    </div>
</body>
<script src="/static/scripts/waiting-for-players.js"></script>
</html>