
<div class="card-wrapper" id="testme">
    <div class="card" onclick="choose(this)" fx-action="/test" fx-method="get" fx-trigger="click" fx-target="#testme" fx-swap="innerHTML">
        <div class="card-value-wrapper">
            <h2>1</h2>
            <h3>Story Point</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>2</h2>
            <h3>Story Points</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>3</h2>
            <h3>Story Points</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>5</h2>
            <h3>Story Points</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>8</h2>
            <h3>Story Points</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>13</h2>
            <h3>Story Points</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>21</h2>
            <h3>Story Points</h3>
        </div>
    </div>
    <div class="card" onclick="choose(this)">
        <div class="card-value-wrapper">
            <h2>?</h2>
            <h3>Story Points</h3>
        </div>
    </div>
</div>